<div id="article" class="tabcontent " style="display: block;">
    <h3>liste des Articles</h3>
    
    <form action="{{ path('article_index') }}" method="GET">

        <div class="contenu-recherche">
            <fieldset>
                <legend>Recherche</legend>
                <div style="display: initial;">
                    <span class="form-label-content">Article</span>
                    <input  type="text"  id="Article" name="filters[name]" value="{% if currentFilters['name'] is defined %}{{ currentFilters['name'] }}{% endif %}">
                    <label for="Article" class="form-label">

                    </label>
                </div>
                <button class="btn-connex" type="submit" value=""><span class="icon-recherche">Recherche</span></button>
            </fieldset>
        </div>
    </form>


<div class="contenu">
    {% if articles|length > 0 %}
        <table>
            <tbody>
            <tr class="article-tr">
                <td class="table_title" id="filter">{{ knp_pagination_sortable(articles, 'Nom', 'name') }}</td>
                <td class="table_title">Description</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td class="table_title">Action</td>
                {% endif %}
            </tr>
            {% for article in articles %}
                <tr>
                    <td class="interval-article">{{ article.name }}</td>
                    <td class="interval-article">{{ article.description }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td class="interval-article">
                            <a href="{{ path('article_edit', { 'id': article.id }) }}" class="icon-uni6C" title="Modification">MODIF</a>
                            <a href="{{ path('article_delete', { 'id': article.id }) }}" onclick="return confirm('Voulez vous supprimer l\'article {{ article.name }} ?')"  class="icon-uniE019" title="Suppression">SUPPR</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(articles) }}
        </div>
    {% else %}
        Pas de contenu disponible
    {% endif %}

</div>
</div>
