<div id="stock" class="tabcontent " style="display: block;">
    <h3>Inventaire</h3>
    <form action="{{ path('stock_inventaire_index') }}" method="GET">
        
        <div class="contenu-recherche">
            <fieldset>
                <legend>Recherche</legend>

                <div class="selecteur" style="display: inline-flex;">
                    <label style="display: inline-block;"> Action :&nbsp; </label>
                    <SELECT name="filters[type]"  >
                        <OPTION VALUE="" ></OPTION>
                        <OPTION VALUE="achat" {% if (currentFilters['type'] is defined)  and (currentFilters['type'] == 'achat') %} selected{% endif %}>Achat</OPTION>
                        <OPTION VALUE="vente" {% if (currentFilters['type'] is defined) and (currentFilters['type'] == 'vente') %} selected{% endif %}>Vente</OPTION>
                    </SELECT>
                    </label>
                </div>
                <div style="display: inline-block;">
                    <span class="form-label-content">&nbsp;&nbsp;Article :&nbsp;</span>
                    <input   type="text"  id="Article" name="filters[name]" value="{% if currentFilters['name'] is defined %}{{ currentFilters['name'] }}{% endif %}">
                </div>
                <button class=" btn-connex" type="submit" value=""><span class="icon-recherche">Recherche</span></button>
                <a href="{{ path('stock_inventaire_index') }}" class="btn-connex">Actualiser</a>

            </fieldset>
        </div>
    </form>

    
    <div class="contenu">
        {% if inventaires|length > 0 %}
            <table>
                <tbody>
                <tr>
                    <td class="table_title">Action</td>
                    <td class="table_title" id="filter-date">{{knp_pagination_sortable(inventaires, 'Date', 'date') }}</td>
                    <td class="table_title" id="filter">{{knp_pagination_sortable(inventaires, 'Article', 'article') }}</td>
                    <td class="table_title">Description</td>
                    <td class="table_title">{{knp_pagination_sortable(inventaires, 'Quantité', 'quantite') }}</td>
                    <td class="table_title">Prix Unitaire</td>
                    <td class="table_title">Prix d'achat</td>
                    <td class="table_title">Prix de vente</td>
                </tr>
                {% for inventaire in inventaires %}
                    {% if (inventaire['type'] == 'achat') %}
                        {% set prix_vente = '' %}
                        {% set prix_achat = inventaire['quantite'] * inventaire['prix_unitaire'] %}
                         <tr>
                            <td class="interval-achat">{{ inventaire['type'] }}</td>
                            <td class="interval-achat">{{ inventaire['date'] }}</td>
                            <td class="interval-achat">{{ inventaire['article'] }}</td>
                            <td class="interval-achat">{{ inventaire['description'] }}</td>
                            <td class="interval-achat">{{ inventaire['quantite'] }}</td>
                            <td class="interval-achat">{{ inventaire['prix_unitaire'] }}</td>
                            <td class="interval-achat">{{ prix_achat }}</td>
                            <td class="interval-achat">{{ prix_vente }} </td>

                        </tr>
                    {% elseif (inventaire['type'] == 'vente') %}
                        {% set prix_achat = '' %}
                        {% set prix_vente = inventaire['quantite'] * inventaire['prix_unitaire'] %}
                        <tr>
                            <td class="interval-vente-stock">{{ inventaire['type'] }}</td>
                            <td class="interval-vente-stock">{{ inventaire['date'] }}</td>
                            <td class="interval-vente-stock">{{ inventaire['article'] }}</td>
                            <td class="interval-vente-stock">{{ inventaire['description'] }}</td>
                            <td class="interval-vente-stock">{{ inventaire['quantite'] }}</td>
                            <td class="interval-vente-stock">{{ inventaire['prix_unitaire'] }}</td>
                            <td class="interval-vente-stock">{{ prix_achat }}</td>
                            <td class="interval-vente-stock">{{ prix_vente }} </td>

                        </tr>
                    {% endif %}
                    
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(inventaires) }}
            </div>
        {% else %}
            Pas de contenu disponible
        {% endif %}

    </div>
</div>


