<div id="stock" class="tabcontent " style="display: block;">
    <form action="{{ path('stock_inventaire_index') }}" method="GET">

        <div class="contenu-recherche">
            <fieldset>
                <legend>Recherche</legend>

                <div style="display: inline-block;">
                    <label style="display: inline-block;"> Action : </label>
                    <SELECT name="filters[type]"  >
                        <OPTION VALUE="" ></OPTION>
                        <OPTION VALUE="achat" {% if (currentFilters['type'] is defined)  and (currentFilters['type'] == 'achat') %} selected{% endif %}>Achat</OPTION>
                        <OPTION VALUE="vente" {% if (currentFilters['type'] is defined) and (currentFilters['type'] == 'vente') %} selected{% endif %}>Vente</OPTION>
                    </SELECT>
                    </label>
                </div>
                <div style="display: inline-block;">
                    <span class="form-label-content">Article</span>
                    <input  type="text"  id="Article" name="filters[name]" value="{% if currentFilters['name'] is defined %}{{ currentFilters['name'] }}{% endif %}">
                </div>
                <button class="btn btn-first" type="submit" value=""><span class="icon-recherche">Recherche</span></button>

            </fieldset>
        </div>
    </form>

    <h3>liste des Stock</h3>
    <div class="contenu">
        {% if inventaires|length > 0 %}
            <table>
                <tbody>
                <tr>
                    <td class="table_title">Action</td>
                    <td class="table_title">{{knp_pagination_sortable(inventaires, 'Date', 'date') }}</td>
                    <td class="table_title">{{knp_pagination_sortable(inventaires, 'Article', 'article') }}</td>
                    <td class="table_title">Description</td>
                    <td class="table_title">Quantité</td>
                    <td class="table_title">Prix Unitaire</td>
                    <td class="table_title">Prix d'achat</td>
                    <td class="table_title">Prix de vente</td>
                    <td class="table_title">Total</td>
                </tr>
                {% for inventaire in inventaires %}
                    {% if (inventaire['type'] == 'achat') %}
                        {% set prix_vente = '' %}
                        {% set prix_achat = inventaire['quantite'] * inventaire['prix_unitaire'] %}
                    {% elseif (inventaire['type'] == 'vente') %}
                        {% set prix_achat = '' %}
                        {% set prix_vente = inventaire['quantite'] * inventaire['prix_unitaire'] %}
                    {% endif %}
                    <tr>
                        <td class="interval">{{ inventaire['type'] }}</td>
                        <td class="interval">{{ inventaire['date'] }}</td>
                        <td class="interval">{{ inventaire['article'] }}</td>
                        <td class="interval">{{ inventaire['description'] }}</td>
                        <td class="interval">{{ inventaire['quantite'] }}</td>
                        <td class="interval">{{ inventaire['prix_unitaire'] }}</td>
                        <td class="interval">{{ prix_achat }}</td>
                        <td class="interval">{{ prix_vente }} </td>
                        <td class="interval">total</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(inventaires) }}
            </div>
        {% else %}
            Pas de contenu disponible
        {% endif %}

    </div>
</div>


