<div id="vente" class="tabcontent " style="display: block;">
    <h3>liste des Utilisateurs</h3>
    <form action="{{ path('utilisateur_list') }}" method="GET">
        <div class="contenu-recherche">
            <fieldset>
                <legend>Recherche</legend>

                <div style="display: inline-block;">
                    <span class="form-label-content">Identifiant : </span>
                    <input  type="text" name="filters[username]" id="User" value="{% if currentFilters['username'] is defined %}{{ currentFilters['username'] }}{% endif %}">
                    <label for="User" class="form-label">

                    </label>
                    <span class="form-label-content">Email : </span>
                    <input  type="text" name="filters[email]" id="Useremail" value="{% if currentFilters['email'] is defined %}{{ currentFilters['email'] }}{% endif %}">
                    <label for="Useremail" class="form-label">

                    </label>
                </div>
                <button class="btn-connex" type="submit" value=""><span class="icon-recherche">Recherche</span></button>

            </fieldset>
        </div>
    </form>


<div class="contenu">
    {% if users|length > 0 %}
        <table>
            <tbody>
            <tr>

                <td class="table_title">{{ knp_pagination_sortable(users, 'Utilisateur', 'username') }}</td>
                <td class="table_title">{{ knp_pagination_sortable(users, 'Email', 'email') }}</td>
                <td class="table_title">Status</td>
                <td class="table_title">Rôle</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td class="table_title">Action</td>
                {% endif %}
            </tr>
            {% for user in users %}
                <tr>
                    <td class="interval-user">{{ user.username }}</td>
                    <td class="interval-user">{{ user.email }}</td>
                    <td>
                        {% if user.enabled %}
                            <a class="edit"

                                        href="{{  path('utilisateur_setstate', {'id': user.id}) }}"
                                        onclick="return confirm('Voulez vous désactiver cet utilisateur ?')"
                                        data-toggle="tooltip"
                                        title="Desactiver"
                            >
                                <span class="icon-PC_Activate">Activé</span></a>
                            {#<span class="">Activé</span>#}
                        {% else %}
                            <a class="edit"

                               href="{{  path('utilisateur_setstate', {'id': user.id}) }}"
                               onclick="return confirm('Voulez vous activer cet utilisateur ?')"
                               data-toggle="tooltip" title="Activer">
                                <span
                                        class="icon-PC_Disable">Desactivé</span></a>
                            {#<span class="is-inactive">Desactivé</span>#}
                        {% endif %}
                    </td>
                    <td>
                        {% if user.hasRole('ROLE_ADMIN') %} ADMIN {% else %} USER {% endif %}
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td class="interval-user">
                            <a href="{{ path('user_delete', { 'id': user.id }) }}" onclick="return confirm('Voulez vous supprimer l\'utilisateur {{ user.username }} ?')" class="icon-uniE019" title="Suppression">SUPPR</a>
                            {% if user.hasRole('ROLE_ADMIN') == false %}<a href="{{ path('user_set_role', { 'id': user.id }) }}" onclick="return confirm('Voulez vous changer le rôle de l\'utilisateur {{ user.username }} ?')" class="icon-uniE019"> Promouvoir </a> {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(users) }}
        </div>

    {% else %}
        Pas de contenu disponible
    {% endif %}
</div>

</div>


