<form action="{{ path("vente_edit", {'id': vente.id}) }}" method="post">
    <div class="Vente login">
        <p>Modification d'une vente</p>
        <div class="libelle-achat">
            <label>Article :</label> 
            <select name="_ventearticle">
                {% for article in articles %}
                    <option value="{{ article.id }}" {% if (article.id == vente.article.id) %} selected {% endif %}>{{ article.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="libelle-achat">
            <label>Date vente :</label> <input type="text" name="_ventedate" class="datepicker" value="{{ vente.createdAt|date('d/m/Y') }}" ></div>
        <div class="libelle-achat">
            <label>Quantité :</label> <input type="number" id="ventequantite" name="_ventequantite" required="required" value="{{ vente.quantite }}" /></div>
        <div class="libelle-achat">
            <label>Prix Unitaire :</label> <input type="number" id="venteprixunitaire" name="_venteprixunitaire" required="required" value="{{ vente.prixUnitaire }}"/></div>

        <div align="center">
            <input  class="btn-connex"  type="submit" id="_submit" name="_submit" value="Valider" />
        </div>
    </div>
</form>
