<div id="vente" class="tabcontent " style="display: block;">
    <h3>liste des Ventes</h3>
    <form action="{{ path('vente_index') }}" method="GET">
        <div class="contenu-recherche">
            <fieldset>
                <legend>Recherche</legend>
                <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy" style="display: initial;">
                    <label>Date : </label>
                    <label>Du&nbsp;</label><input class=" datepicker" type="text" name="dates[from]" value="{% if dates['from'] is defined %}{{ dates['from'] }}{% endif %}"  />
                    <span class=""><i class="glyphicon glyphicon-calendar"></i></span>
                    <label>Au&nbsp;</label><input class=" datepicker" type="text" name="dates[to]" value="{% if dates['to'] is defined %}{{ dates['to'] }}{% endif %}"  />
                    <span class=""><i class="glyphicon glyphicon-calendar"></i></span>
                </div>

                <div style="display: inline-block;">
                    <span class="form-label-content">Vente :</span>
                    <input  type="text" name="filters[a.name]" id="Article" value="{% if currentFilters['a.name'] is defined %}{{ currentFilters['a.name'] }}{% endif %}">
                    <label for="Article" class="form-label">

                    </label>
                </div>
                <button class="btn-connex" type="submit" value=""><span class="icon-recherche">Recherche</span></button>

            </fieldset>
        </div>
    </form>


<div class="contenu">
    {% if ventes|length > 0 %}
        <table>
            <tbody>
            <tr>
                <td class="table_title">{{ knp_pagination_sortable(ventes, 'Date', 'ven.createdAt') }}</td>
                <td class="table_title">{{ knp_pagination_sortable(ventes, 'Article', 'a.name') }}</td>
                <td class="table_title">Description</td>
                <td class="table_title">{{ knp_pagination_sortable(ventes, 'Quantite', 'ven.quantite') }}</td>
                <td class="table_title">{{ knp_pagination_sortable(ventes, "Prix d'vente", 'ven.prixUnitaire') }}</td>
                <td class="table_title">Prix de vente total </td>
                <td class="table_title">Action</td>
            </tr>
            {% for vente in ventes %}
                <tr>
                    <td class="interval-vente">{{ vente.createdAt|date('d/m/Y') }}</td>
                    <td class="interval-vente">{{ vente.article.name }}</td>
                    <td class="interval-vente">{{ vente.article.description }}</td>
                    <td class="interval-vente">{{ vente.quantite }}</td>
                    <td class="interval-vente">{{ vente.prixUnitaire }}</td>
                    <td class="interval-vente">{{ vente.prixUnitaire * vente.quantite }}</td>
                    <td class="interval-vente"><a href="{{ path('vente_edit', { 'id': vente.id }) }}" class="icon-uni6C" title="Modification">MODIF</a>   <a href="" class="icon-uniE019" title="Suppression">SUPPR</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(ventes) }}
        </div>
        {% else %}
        Pas de contenu disponible
    {% endif %}

</div>
</div>