<div id="vente" class="tabcontent " style="display: block;">
    <h3>liste des Achat</h3>
    <form action="{{ path('achat_index') }}" method="GET">
        <div class="contenu-recherche">
            <fieldset>
                <legend>Recherche</legend>
                <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy" style="display: initial;">
                    <label> Date : </label>
                    <label> Du &nbsp;</label><input class=" datepicker" type="text" name="dates[from]" value="{% if dates['from'] is defined %}{{ dates['from'] }}{% endif %}"  />
                    <span class=""><i class="glyphicon glyphicon-calendar"></i></span>
                    <label> Au &nbsp;</label><input class=" datepicker" type="text" name="dates[to]" value="{% if dates['to'] is defined %}{{ dates['to'] }}{% endif %}"  />
                    <span class=""><i class="glyphicon glyphicon-calendar"></i></span>
                </div>

                <div style="display: inline-block;">
                    <span class="form-label-content">Achat : </span>
                    <input  type="text" name="filters[a.name]" id="Article" value="{% if currentFilters['a.name'] is defined %}{{ currentFilters['a.name'] }}{% endif %}">
                    <label for="Article" class="form-label">

                    </label>
                </div>
                <button class="btn-connex" type="submit" value=""><span class="icon-recherche">Recherche</span></button>

            </fieldset>
        </div>
    </form>


<div class="contenu">
    {% if achats|length > 0 %}
        <table>
            <tbody>
            <tr>
                <td class="table_title" id="filter-date">{{ knp_pagination_sortable(achats, 'Date', 'createdAt') }}</td>
                <td class="table_title" id="filter">{{ knp_pagination_sortable(achats, 'Article', 'a.name') }}</td>
                <td class="table_title">Description</td>
                <td class="table_title">{{ knp_pagination_sortable(achats, 'Quantite', 'ach.quantite') }}</td>
                <td class="table_title">{{ knp_pagination_sortable(achats, "Prix d'achat", 'ach.prixUnitaire') }}</td>
                <td class="table_title">Prix d'achat total </td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td class="table_title">Action</td>
                {% endif %}
            </tr>
            {% for achat in achats %}
                <tr>
                    <td class="interval-achat">{{ achat.createdAt|date('d/m/Y') }}</td>
                    <td class="interval-achat">{{ achat.article.name }}</td>
                    <td class="interval-achat">{{ achat.article.description }}</td>
                    <td class="interval-achat">{{ achat.quantite }}</td>
                    <td class="interval-achat">{{ achat.prixUnitaire }}</td>
                    <td class="interval-achat">{{ achat.prixUnitaire * achat.quantite }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td class="interval-achat">
                                <a href="{{ path('achat_edit', { 'id': achat.id }) }}" class="icon-uni6C" title="Modification">MODIF</a>
                                <a href="{{ path('achat_delete', { 'id': achat.id }) }}"  class="icon-uniE019" onclick="return confirm('Voulez vous supprimer l\'achat de l\'article {{ vente.article.name }} ?')"title="Suppression">SUPPR</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(achats) }}
        </div>

    {% else %}
        Pas de contenu disponible
    {% endif %}
</div>

</div>


