{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
<div class="login changement">
	<p>GESTION DU MOT DE PASSE</p>
        <div class="logo-login"><img src="{{ asset('img/logo.jpg') }}">  </div>
    {{ form_widget(form) }}
    <div style="text-align: center;">
        <input class="btn-connex" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
</div>
{{ form_end(form) }}
