<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}3E Service Informatique{% endblock %}</title>
    <link rel='stylesheet' href="{{ asset('css/style.min.css') }}">
    <!--<script type="text/javascript"  src="{{ asset('js/app.min.js') }}"></script>-->
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicontest.ico') }}" />
    <script type="text/javascript">
  
    function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontentprod, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontentprod = document.getElementsByClassName("tabcontentprod");
        for (i = 0; i < tabcontentprod.length; i++) {
            tabcontentprod[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "inline-block";
        evt.currentTarget.className += " active";


    }

       

        
</script>

</head>
    <body class="global">
        {#{% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}#}
        <div class="col-md-12 content-cyber">
            <div class="col-md-2 Menu">
                <img class="logo-cyber-3e" src="{{ asset('img/logo.jpg')}}">
                <nav class="navigation">
                  <ul class="mainmenu">
                    <li><a href="">ARTICLE</a>
                    <ul class="submenu">
                        <li><a href="{{ path('article_index') }}">Liste des Article</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('article_add') }}">Nouvel Article</a></li>
                        {% endif %}
                      </ul></li>
                    <li><a href="">ACHAT</a>
                    <ul class="submenu">
                        <li><a href="{{ path('achat_index') }}">Liste des Achat</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('achat_add') }}">Nouvel Achat</a></li>
                        {% endif %}
                      </ul></li>
                    <li><a href="{{ path('vente_index') }}">VENTE</a>
                    <ul class="submenu">
                        <li><a href="{{ path('vente_index') }}">Liste des Vente</a></li>
                        <li><a href="{{ path('vente_add') }}">Nouvel Vente</a></li>
                      </ul></li>
                    <li><a href="{{ path('stock_stock_index') }}">EN STOCK</a>
                      
                    </li>
                    <li><a href="{{ path('stock_inventaire_index') }}">INVENTAIRE</a></li>
                      <li><a href="">PROFIL</a>
                          <ul class="submenu">
                              <li><a href="{{ path('fos_user_profile_show') }}">Mon profile</a></li>
                              <li><a href="{{ path('fos_user_change_password') }}">Modifier Mot de passe</a></li>
                          </ul></li>
                      {% if is_granted('ROLE_ADMIN') %}
                          <li><a href="">UTILISATEUR</a>
                              <ul class="submenu">
                                  <li><a href="{{ path('utilisateur_list') }}">Liste des utilisateur</a></li>
                                  <li><a href="{{ path('fos_user_registration_register') }}">Nouvel utilisateur</a></li>
                              </ul></li>
                      {% endif %}
                    <li><a href="{{ path('fos_user_security_logout') }}">DECONNEXION</a></li>
                  </ul>
                </nav>
            </div>

            <div class="col-md-10 page-cyber">
                {% include 'StockBundle:Shared:alert_flash.html.twig' %}
                {% block article_content %}
                {% endblock article_content %}
            </div>
            <img class="logo-cyber" src="{{ asset('img/maxresdefault.jpg')}}">
        </div>
        
        <script src="{{ asset('js/app.min.js')}}"></script>
        <script type="text/javascript">
            new Ux();
        </script>
        
      <script type="text/javascript">
                $( "#filter .sortable" ).append( $( "<span class='icone-uniF07D'></span>" ) );
                $( "#filter .asc" ).append( $( "<span class='icone-uniF15D'></span>" ) );
                $( "#filter .desc" ).append( $( "<span class='icone-uniF15E'></span>" ) );

                $( "#filter-date .sortable" ).append( $( "<span class='icone-uniF07D'></span>" ) );
                $( "#filter-date .asc" ).append( $( "<span class='icone-uniF162'></span>" ) );
                $( "#filter-date .desc" ).append( $( "<span class='icone-uniF163'></span>" ) );
                            
          </script>
    </body>
</html>
