{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <div class="login">
        <p>GESTION DE STOCK</p>
        <div class="logo-login"><img src="{{ asset('img/logo.jpg') }}">  </div>
    
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div>
        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>
    <div>
        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="password" name="_password" required="required" />
    </div>
    <div>
        <input class="checkbox-login" type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label class="label-checkbox-login" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>
    <div>
        <a class="btn-oublier" href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a>
    </div>
    <div align="center">
        <input  class="btn-connex"  type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </div>
    </div>
</form>

